<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=erikmresultreg;AccountKey=m8wVFmwMk1lFzb3+22ww9SaR8IkZW5gOz+7YgfuWWcTcHcFCAwSLoidW+uN5l8XV5adcjpEgYUdpc5vuNOgSUA==;EndpointSuffix=core.windows.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>